.tituloPrincipal {
  color: #d95284;
  font-weight: bold;
  font-size: 7vh;
}

.imagemPrincipal {
  width: 50%;
  height: 50%;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.homePrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
