.sobreTitulo {
  font-weight: 600;
  text-align: center;
  margin-top: 3%;
}

.pri {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-top: 1%;
  margin-bottom: 2%;
}

h3 + p {
  text-align: justify;
  text-justify: inter-word;
  max-width: 90%;
}

.t {
  margin-left: 2%;
}
